*.pyc
.DS_Store
documentation/latex
*.txt,v
*.txt
sourcebox-server/data/*

sourcebox-client/data/*

sourcebox-client/client.log

*.log

documentation/latex/refman.tex

documentation/html/index.html

documentation/html/search/search.js

documentation/html/search/search.js

*.html

update-client2.sh

sourcebox-client/sb_client.conf

sourcebox-client/sb_client.conf

sourcebox-client/sb_client.conf
